@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #ffffff;
    font-family: Roboto;
    background-color: #8a6a6b;
}

header {
    display: flex;
    gap: 2em;
    align-items: center;
    flex-direction: column;
    margin-top: 2em;
}

header h1 {
    cursor: pointer;
}

header button {
    color: #fff;
    border: 0;
    font-weight: bold;
    font-size: 20px;
    padding: 0.2em 0.4em;
    border-radius: 10px;
    cursor: pointer;
    background-color: #805566;
}

/* Main */
.container-displays {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2em;
    width: 100%;
    margin-top: 2em;
}

.display {
    display: flex;
    gap: 2em;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: 10px;
    font-size: 48px;
    text-align: center;
}

.restart-button {
    color: #fff;
    border: 0;
    font-weight: bold;
    font-size: 24px;
    padding: 0.2em 0.4em;
    border-radius: 10px;
    cursor: pointer;
    background-color: #9a927b;
}

/* JavaScript */

.focused {
    border: 8px solid #3e3e3e;
}

.unfocused {
    border: 5px solid #3e3e3e;
}
