* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header h1 {
    text-align: center;
}

/* Main */
.container-display {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2em;
    width: 100%;
    margin-top: 8em
}

.display, .user-display {
    display: flex;
    gap: 2em;
}

.letter, .user-letter {
    width: 120px;
    height: 120px;
    border: 3px solid #000;
    font-size: 48px;
    text-align: center;
}


.user-letter {
    text-align: center;
}